.background    { background: rgb(77, 206, 219);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(214, 159, 51); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(144, 144, 144); }
.player { background: rgb(77, 72, 59); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(129, 48, 48);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
